@{
    ViewBag.Title = "Send Order";
}
@model Order

<form asp-action="Order" asp-controller="Order" method="post" class="contactForm">
    <h1 class="headerText">Send you order</h1>
    <button type="submit" class="contactButton">Submit</button>
</form>
