@{
    ViewBag.Title = "Home";
}

<style>
    main,
    body,
    html,
    .container {
        width: 100% !important;
        max-width: 10000px;
        height: 100% !important;
        padding: 0px !important;
        margin: 0px !important;
        margin-top: 65px !important;
    }

    #customNav {
        background-color: #000000;
    }
</style>

<div class="containerMod container1" style="display: block;">
    <h1 class="head">The Future of Healthcare</h1>
    <h2 class="head">From People you know and Healthcare you trust.</h2>
</div>

<div id="doc"></div>
<div class="containerMod container2">
    <div class="padRL">
        <a class="moveDownLink" href="#doc"> We Hope for your good Health </a>

        <div class="pagecomp pushDown">
            <img src="https://raw.githubusercontent.com/pratikkabade/hopeClinic/203ff5012ce00b4aa4175ecde50a6e908cbeee9d/frontend/.assets/private.svg"
                alt="as">
            <div class="textSection">
                <h5>Completely private and confidential</h5>
                <h6>We care for your privacy</h6>
            </div>
        </div>
        <div class="pagecomp">
            <img src="https://raw.githubusercontent.com/pratikkabade/hopeClinic/203ff5012ce00b4aa4175ecde50a6e908cbeee9d/frontend/.assets/24x7.svg"
                alt="as">
            <div class="textSection">
                <h5>24*7 Access to Doctors</h5>
                <h6>Which means no worries to go Hospital now</h6>
            </div>
        </div>
        <div class="pagecomp ">
            <img src="https://raw.githubusercontent.com/pratikkabade/hopeClinic/203ff5012ce00b4aa4175ecde50a6e908cbeee9d/frontend/.assets/calendar.svg"
                alt="as">
            <div class="textSection">
                <h5>Book Appointments and Lab Tests</h5>
                <h6>24*7 Available</h6>
            </div>
        </div>

    </div>
</div>

<div id="med"></div>
<div class="containerMod container3">
    <div class="padRL">
        <a class="moveDownLink" href="#med"> Get all your medicines.
            Everytime. On time. </a>

        <div class="pagecomp pushDown">
            <img src="https://raw.githubusercontent.com/pratikkabade/hopeClinic/203ff5012ce00b4aa4175ecde50a6e908cbeee9d/frontend/.assets/delevery.svg"
                alt="as">
            <div class="textSection">
                <h5>24*7 Order medicines</h5>
                <h6>Get Home Delivery on next day</h6>
            </div>
        </div>
        <div class="pagecomp">
            <img src="https://raw.githubusercontent.com/pratikkabade/hopeClinic/203ff5012ce00b4aa4175ecde50a6e908cbeee9d/frontend/.assets/time.svg"
                alt="as">
            <div class="textSection">
                <h5>Set Medicine Subscription</h5>
                <h6>Get meds at your doorsteps</h6>
            </div>
        </div>
        <div class="pagecomp">
            <img src="https://raw.githubusercontent.com/pratikkabade/hopeClinic/203ff5012ce00b4aa4175ecde50a6e908cbeee9d/frontend/.assets/lab.svg"
                alt="as">
            <div class="textSection">
                <h5>Integrated Labs</h5>
                <h6>Report Available in few hours</h6>
            </div>
        </div>

    </div>
</div>
<div class="centreText">
    <a class="moveDownLink" href="#page3" id="page3">More </a>
</div>
<div class="footer containerMod noSelect">

    <div class="appLink">
        <h1>Apps</h1>
        <a asp-controller="Home" asp-action="Index"><img
                src="https://github.com/pratikkabade/EdgeBank/raw/%236-F-Home/frontend/Assets/play.png" alt="play"></a>
        <br>
        <a asp-controller="Home" asp-action="Index"><img
                src="https://github.com/pratikkabade/EdgeBank/raw/%236-F-Home/frontend/Assets/app.png" alt="app"></a>
    </div>
    <div class="appLink">
        <h1>Services</h1>
        <a asp-controller="Doctor" asp-action="Doctor">Book a Doctor</a> <br>
        <a asp-controller="Order" asp-action="Order">Order your Medicines</a>
    </div>
    <div class="appLink">
        <h1>Care</h1>
        <a asp-controller="ContactUs" asp-action="ContactUs">Contact Us</a> <br>
        <a asp-controller="Issues" asp-action="Issues">Report Problem</a>
    </div>
    <div class="appLink">
        <h1>Social</h1>
        <a href="#">Instagram</a> <br>
        <a href="#">Twitter</a>
    </div>
</div>

<div class="footerLogo containerMod">
    <h5>Copyright © 2022, Hope Clinic. All rights reserved.</h5>
</div>
