@{
    ViewBag.Title = "Home";
}

<style>
    main,
    body,
    html,
    .container {
        width: 100% !important;
        max-width: 10000px;
        height: 100% !important;
        padding: 0px !important;
        margin: 0px !important;
        margin-top: 65px !important;
    }
</style>

<div class="containerMod container1">
    <h1 class="head">Connect Securely anytime,anywhere 24*7 doctors available just for you</h1>
</div>

<div class="containerMod container2">
    <div class="padRL">
        <a class="moveDownLink" href="#page2" id="page2"> We Hope for your good Health </a>

        <div class="pagecomp ">
            <img src="https://github.com/harshit2k20gte09/images/raw/main/private-removebg-preview.png" alt="as">
            <div class="textSection">
                <h5>Completely private and confidential</h5>
                <h6>We care of yours thoughts</h6>
            </div>
        </div>
        <div class="pagecomp">
            <img src="https://github.com/harshit2k20gte09/images/raw/main/247-emergency-services-logo-icon-vector-illustration-PD0WHK-removebg-preview.png" alt="as">
            <div class="textSection">
                <h5>24*7 Acess to Doctors</h5>
                <h6>Which means no worry to go Hospital now</h6>
            </div>
        </div>
        <div class="pagecomp">
            <img src="https://github.com/harshit2k20gte09/images/raw/main/images-removebg-preview.png" alt="as">
            <div class="textSection">
                <h5>Integrated Labs</h5>
                <h6>Report Availabe in few Hours</h6>
            </div>
        </div>
    </div>
</div>
<div class="containerMod container2">
    <div class="padRL">
        <a class="moveDownLink" href="#page2" id="page2"> Get all your medicines.
Everytime. On time. </a>

        <div class="pagecomp ">
            <img src="https://github.com/harshit2k20gte09/images/raw/main/calendar-icon-concept-schedule-appointment-vector-35387823-removebg-preview.png" alt="as">
            <div class="textSection">
                <h5>Book appointments and lab tests</h5>
                <h6>24*7 Available</h6>
            </div>
        </div>
        <div class="pagecomp">
            <img src="https://github.com/harshit2k20gte09/images/raw/main/medical-delivery-logo-icon-design-can-be-used-as-complement-to-125310061-removebg-preview.png" alt="as">
            <div class="textSection">
                <h5>24*7 Order medicines</h5>
                <h6>Get Home Delivery on next day</h6>
            </div>
        </div>
        <div class="pagecomp">
            <img src="https://github.com/harshit2k20gte09/images/raw/main/istockphoto-836065660-612x612-removebg-preview.png" alt="as">
            <div class="textSection">
                <h5>Set medicine reminders</h5>
                <h6>Store Health records and tips in just ₹99</h6>
            </div>
        </div>
    </div>
</div>
<div class="centreText">
    <a class="moveDownLink" href="#page3" id="page3">More </a>
</div>
<div class="footer containerMod ">

    <div class="appLink">
        <h1>Hope Clinic</h1>
        <a asp-controller="Home" asp-action="Index"><img
                src="https://github.com/pratikkabade/EdgeBank/raw/%236-F-Home/frontend/Assets/play.png" alt="play"></a>
        <br>
        <a asp-controller="Home" asp-action="Index"><img
                src="https://github.com/pratikkabade/EdgeBank/raw/%236-F-Home/frontend/Assets/app.png" alt="app"></a>
    </div>
    <div class="appLink">
        <h1>Company</h1>
        <a asp-controller="Home" asp-action="Help">Help</a> <br>
        <a asp-controller="ContactUs" asp-action="ContactUs">Contact Us</a>
    </div>
    <div class="appLink">
        <h1>Social</h1>
        <a href="#">Instagram</a> <br>
        <a href="#">Twitter</a>
    </div>
</div>

<div class="footerLogo containerMod">
    <a asp-controller="Home" asp-action="Index" class="logoLink">
        <img alt='a' src='https://github.com/harshit2k20gte09/images/raw/main/download-removebg-preview.png'
            draggable='false' />
        Hope Clinic
    </a>
    <h5>Copyright © 2022, Hope Clinic. All rights reserved.</h5>
</div>
