@{
    ViewBag.Title = "Book your Doctor";
}
@model Doctor

<form asp-action="Doctor" asp-controller="Doctor" method="post" class="contactForm">
    <h1 class="headerText">Book your Doctor</h1>
    <div class="form-group">
        <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Enter your name">
    </div>
    <div class="form-group">
        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <textarea asp-for="Message" class="form-control" id="message" rows="3"
            placeholder="Describe your illness in brief to help us select specialist for you"></textarea>
    </div>
    <button type="submit" class="contactButton">Submit</button>
</form>
