@{
    ViewBag.Title = "MyAccount";
}

<style>
    .subSection a {
        font-size: 25px;
        font-weight: 600;
        text-align: center;
    }
</style>


<h1>@Html.Raw(ViewBag.LogMessage)</h1>
<h1>@Html.Raw(ViewBag.Name)</h1>

<div class="mainSection">

    <div class="subSection">
        <a asp-controller="NewUser" asp-action="Edit" asp-route-id="1">
            Edit Details
        </a>
    </div>

    <div class="subSection">
        <a asp-controller="NewUser" asp-action="Delete" asp-route-id="1">
            Delete Account
        </a>
    </div>

</div>
